 

<p>
  <strong>Pkcliente:</strong>
  <%= @cliente.PKCLIENTE %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @cliente.NOMBRE %>
</p>

<p>
  <strong>Domicilio:</strong>
  <%= @cliente.DOMICILIO %>
</p>

<p>
  <strong>Colonia:</strong>
  <%= @cliente.COLONIA %>
</p>

<p>
  <strong>Rfc:</strong>
  <%= @cliente.RFC %>
</p>

<p>
  <strong>Pkestado:</strong>
  <%= @cliente.PKESTADO %>
</p>

<p>
  <strong>Pkciudad:</strong>
  <%= @cliente.PKCIUDAD %>
</p>

<p>
  <strong>Cp:</strong>
  <%= @cliente.CP %>
</p>

<p>
  <strong>Contacto telefono1:</strong>
  <%= @cliente.CONTACTO_TELEFONO1 %>
</p>

<p>
  <strong>Contacto telefono2:</strong>
  <%= @cliente.CONTACTO_TELEFONO2 %>
</p>

<p>
  <strong>Contacto telefono3:</strong>
  <%= @cliente.CONTACTO_TELEFONO3 %>
</p>

<p>
  <strong>Iva porcentaje:</strong>
  <%= @cliente.IVA_PORCENTAJE %>
</p>

<p>
  <strong>Retencion iva porcentaje:</strong>
  <%= @cliente.RETENCION_IVA_PORCENTAJE %>
</p>

<%= link_to 'Edit', edit_cliente_path(@cliente) %> |
<%= link_to 'Back', clientes_path %>
