 

<p>
  <strong>Pkoperador:</strong>
  <%= @operadore.PKOPERADOR %>
</p>

<p>
  <strong>Op nombre:</strong>
  <%= @operadore.OP_NOMBRE %>
</p>

<p>
  <strong>Op domicilio:</strong>
  <%= @operadore.OP_DOMICILIO %>
</p>

<p>
  <strong>Op ingreso:</strong>
  <%= @operadore.OP_INGRESO %>
</p>

<p>
  <strong>Op licestatal:</strong>
  <%= @operadore.OP_LICESTATAL %>
</p>

<p>
  <strong>Op tipolicestatal:</strong>
  <%= @operadore.OP_TIPOLICESTATAL %>
</p>

<p>
  <strong>Op venc licestatal:</strong>
  <%= @operadore.OP_VENC_LICESTATAL %>
</p>

<p>
  <strong>Op licfederal:</strong>
  <%= @operadore.OP_LICFEDERAL %>
</p>

<p>
  <strong>Op tipolicfederal:</strong>
  <%= @operadore.OP_TIPOLICFEDERAL %>
</p>

<p>
  <strong>Op ven licfederal:</strong>
  <%= @operadore.OP_VEN_LICFEDERAL %>
</p>

<p>
  <strong>Op cel serie:</strong>
  <%= @operadore.OP_CEL_SERIE %>
</p>

<p>
  <strong>Op cel numero:</strong>
  <%= @operadore.OP_CEL_NUMERO %>
</p>

<p>
  <strong>Op estado:</strong>
  <%= @operadore.OP_ESTADO %>
</p>

<p>
  <strong>Op clave:</strong>
  <%= @operadore.OP_CLAVE %>
</p>

<p>
  <strong>Op fechaactivo:</strong>
  <%= @operadore.OP_FECHAACTIVO %>
</p>

<p>
  <strong>Op activo:</strong>
  <%= @operadore.OP_ACTIVO %>
</p>

<p>
  <strong>Op nip:</strong>
  <%= @operadore.OP_NIP %>
</p>

<%= link_to 'Edit', edit_operadore_path(@operadore) %> |
<%= link_to 'Back', operadores_path %>
