 

<p>
  <strong>Pkservicio:</strong>
  <%= @tarifas_servicio.PKSERVICIO %>
</p>

<p>
  <strong>Ser descripcion:</strong>
  <%= @tarifas_servicio.SER_DESCRIPCION %>
</p>

<p>
  <strong>Ser notas:</strong>
  <%= @tarifas_servicio.SER_NOTAS %>
</p>

<%= link_to 'Edit', edit_tarifas_servicio_path(@tarifas_servicio) %> |
<%= link_to 'Back', tarifas_servicios_path %>
