 

<p>
  <strong>Pkcombustible:</strong>
  <%= @combustible.PKCOMBUSTIBLE %>
</p>

<p>
  <strong>Com finicio:</strong>
  <%= @combustible.COM_FINICIO %>
</p>

<p>
  <strong>Com ffin:</strong>
  <%= @combustible.COM_FFIN %>
</p>

<p>
  <strong>Com descripcion:</strong>
  <%= @combustible.COM_DESCRIPCION %>
</p>

<p>
  <strong>Com precio:</strong>
  <%= @combustible.COM_PRECIO %>
</p>

<%= link_to 'Edit', edit_combustible_path(@combustible) %> |
<%= link_to 'Back', combustibles_path %>
