 

<p>
  <strong>Pktipo auto:</strong>
  <%= @tipo_vehiculo.PKTIPO_AUTO %>
</p>

<p>
  <strong>Taut categoria:</strong>
  <%= @tipo_vehiculo.TAUT_CATEGORIA %>
</p>

<p>
  <strong>Taut descripcion:</strong>
  <%= @tipo_vehiculo.TAUT_DESCRIPCION %>
</p>

<%= link_to 'Edit', edit_tipo_vehiculo_path(@tipo_vehiculo) %> |
<%= link_to 'Back', tipo_vehiculos_path %>
