 

<p>
  <strong>Pkgrua:</strong>
  <%= @grua.PKGRUA %>
</p>

<p>
  <strong>Pkempresa:</strong>
  <%= @grua.PKEMPRESA %>
</p>

<p>
  <strong>Gr clave:</strong>
  <%= @grua.GR_CLAVE %>
</p>

<p>
  <strong>Pkcombustible:</strong>
  <%= @grua.PKCOMBUSTIBLE %>
</p>

<p>
  <strong>Pkmarca:</strong>
  <%= @grua.PKMARCA %>
</p>

<p>
  <strong>Gr descripcion:</strong>
  <%= @grua.GR_DESCRIPCION %>
</p>

<p>
  <strong>Gr capacidad:</strong>
  <%= @grua.GR_CAPACIDAD %>
</p>

<p>
  <strong>Gr modelo:</strong>
  <%= @grua.GR_MODELO %>
</p>

<p>
  <strong>Gr motor:</strong>
  <%= @grua.GR_MOTOR %>
</p>

<p>
  <strong>Gr placaestatal:</strong>
  <%= @grua.GR_PLACAESTATAL %>
</p>

<p>
  <strong>Gr placafederal:</strong>
  <%= @grua.GR_PLACAFEDERAL %>
</p>

<p>
  <strong>Gr permisoestata:</strong>
  <%= @grua.GR_PERMISOESTATA %>
</p>

<p>
  <strong>Gr permisofederal:</strong>
  <%= @grua.GR_PERMISOFEDERAL %>
</p>

<p>
  <strong>Gr tipo:</strong>
  <%= @grua.GR_TIPO %>
</p>

<p>
  <strong>Gr odometro:</strong>
  <%= @grua.GR_ODOMETRO %>
</p>

<p>
  <strong>Gr horometro:</strong>
  <%= @grua.GR_HOROMETRO %>
</p>

<p>
  <strong>Gr ubicacion latitud:</strong>
  <%= @grua.GR_UBICACION_LATITUD %>
</p>

<p>
  <strong>Gr ubicacion longitud:</strong>
  <%= @grua.GR_UBICACION_LONGITUD %>
</p>

<p>
  <strong>Gr ultimo reporte:</strong>
  <%= @grua.GR_ULTIMO_REPORTE %>
</p>

<p>
  <strong>Gr base:</strong>
  <%= @grua.GR_BASE %>
</p>

<p>
  <strong>Gr estado:</strong>
  <%= @grua.GR_ESTADO %>
</p>

<p>
  <strong>Gr no serie radio:</strong>
  <%= @grua.GR_NO_SERIE_RADIO %>
</p>

<%= link_to 'Edit', edit_grua_path(@grua) %> |
<%= link_to 'Back', gruas_path %>
