 

<p>
  <strong>Pkinventario:</strong>
  <%= @depositos_salida.PKINVENTARIO %>
</p>

<p>
  <strong>S cliente:</strong>
  <%= @depositos_salida.S_CLIENTE %>
</p>

<p>
  <strong>S rfc:</strong>
  <%= @depositos_salida.S_RFC %>
</p>

<p>
  <strong>S fechapago:</strong>
  <%= @depositos_salida.S_FECHAPAGO %>
</p>

<p>
  <strong>S metodopago:</strong>
  <%= @depositos_salida.S_METODOPAGO %>
</p>

<p>
  <strong>S forma de pago:</strong>
  <%= @depositos_salida.S_FORMA_DE_PAGO %>
</p>

<p>
  <strong>S numcta:</strong>
  <%= @depositos_salida.S_NUMCTA %>
</p>

<p>
  <strong>S domicilio:</strong>
  <%= @depositos_salida.S_DOMICILIO %>
</p>

<p>
  <strong>S noexterior:</strong>
  <%= @depositos_salida.S_NoExterior %>
</p>

<p>
  <strong>S nointerior:</strong>
  <%= @depositos_salida.S_NoInterior %>
</p>

<p>
  <strong>S colonia:</strong>
  <%= @depositos_salida.S_Colonia %>
</p>

<p>
  <strong>S localidad:</strong>
  <%= @depositos_salida.S_Localidad %>
</p>

<p>
  <strong>S municipio:</strong>
  <%= @depositos_salida.S_Municipio %>
</p>

<p>
  <strong>S estado:</strong>
  <%= @depositos_salida.S_Estado %>
</p>

<p>
  <strong>S pais:</strong>
  <%= @depositos_salida.S_Pais %>
</p>

<p>
  <strong>S codigopostal:</strong>
  <%= @depositos_salida.S_CodigoPostal %>
</p>

<p>
  <strong>S numdias:</strong>
  <%= @depositos_salida.S_NumDias %>
</p>

<p>
  <strong>S importediario:</strong>
  <%= @depositos_salida.S_ImporteDiario %>
</p>

<p>
  <strong>S subtotal:</strong>
  <%= @depositos_salida.S_SubTotal %>
</p>

<p>
  <strong>S iva:</strong>
  <%= @depositos_salida.S_IVA %>
</p>

<p>
  <strong>S total:</strong>
  <%= @depositos_salida.S_Total %>
</p>

<%= link_to 'Edit', edit_depositos_salida_path(@depositos_salida) %> |
<%= link_to 'Back', depositos_salidas_path %>
