
<section class="content">
  <div class="box-body">


      <%= form_for(categorias_vehiculo, :validate => true, html: {class: 'form-horizontal'}) do |f| %>
         <% if categorias_vehiculo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(categorias_vehiculo.errors.count, "error") %> prohibited this categorias vehiculo from being saved:</h2>

      <ul>
      <% categorias_vehiculo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
          <div class="row">
            <div class="col-md-12" style="text-align: right;">
              <%= f.submit :class=>"btn btn-md btn-primary", :value=>"Guardar" %>
              <%= link_to 'Cancelar', categorias_vehiculos_path, :class=>"btn btn-md btn-default cancelbtn" %>
            </div>
          
          </div>
        <div class="row">
        <div class="col-md-6">
          <div class="form-group">
             <label>CATEGORIA DEL VEHICULO</label>
            <%= f.text_field :CAT_DESCRIPCION, :class=>"form-control" %>
          </div>
        </div>
  
          <div class="col-md-6">
            &nbsp;
          </div>
        </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
             <label>NOTAS</label>
            <%= f.text_area :CAT_NOTAS, :class=>"form-control" %>
          </div>
        </div>
  
          <div class="col-md-6">
            &nbsp;
          </div>
        </div>
       
      <% end %>
        <!-- /.row -->
  </div>
</section>

