 

<p>
  <strong>Pkmarca:</strong>
  <%= @sub_marca.PKMARCA %>
</p>

<p>
  <strong>Pksubmarca:</strong>
  <%= @sub_marca.PKSUBMARCA %>
</p>

<p>
  <strong>Pktipo auto:</strong>
  <%= @sub_marca.PKTIPO_AUTO %>
</p>

<p>
  <strong>Sub descripcion:</strong>
  <%= @sub_marca.SUB_DESCRIPCION %>
</p>

<%= link_to 'Edit', edit_sub_marca_path(@sub_marca) %> |
<%= link_to 'Back', sub_marcas_path %>
