 

<p>
  <strong>Pkasignacion:</strong>
  <%= @asignacione.PKASIGNACION %>
</p>

<p>
  <strong>Pkgrua:</strong>
  <%= @asignacione.PKGRUA %>
</p>

<p>
  <strong>Pkoperador:</strong>
  <%= @asignacione.PKOPERADOR %>
</p>

<p>
  <strong>As fechainicio:</strong>
  <%= @asignacione.AS_FECHAINICIO %>
</p>

<p>
  <strong>As fechafin:</strong>
  <%= @asignacione.AS_FECHAFIN %>
</p>

<p>
  <strong>As observaciones:</strong>
  <%= @asignacione.AS_OBSERVACIONES %>
</p>

<%= link_to 'Edit', edit_asignacione_path(@asignacione) %> |
<%= link_to 'Back', asignaciones_path %>
