 

<p>
  <strong>Pkpais:</strong>
  <%= @pai.PKPAIS %>
</p>

<p>
  <strong>Pa descripcion:</strong>
  <%= @pai.PA_DESCRIPCION %>
</p>

<p>
  <strong>Codigoint:</strong>
  <%= @pai.CODIGOINT %>
</p>

<%= link_to 'Edit', edit_pai_path(@pai) %> |
<%= link_to 'Back', pais_path %>
