 

<p>
  <strong>Pkestado:</strong>
  <%= @ciudade.PKESTADO %>
</p>

<p>
  <strong>Pkciudad:</strong>
  <%= @ciudade.PKCIUDAD %>
</p>

<p>
  <strong>Cd nombre:</strong>
  <%= @ciudade.CD_NOMBRE %>
</p>

<p>
  <strong>Cd km:</strong>
  <%= @ciudade.CD_KM %>
</p>

<p>
  <strong>Valor omision:</strong>
  <%= @ciudade.VALOR_OMISION %>
</p>

<%= link_to 'Edit', edit_ciudade_path(@ciudade) %> |
<%= link_to 'Back', ciudades_path %>
