 

<p>
  <strong>Llave:</strong>
  <%= @configuracione.Llave %>
</p>

<p>
  <strong>Valor:</strong>
  <%= @configuracione.Valor %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @configuracione.Descripcion %>
</p>

<%= link_to 'Edit', edit_configuracione_path(@configuracione) %> |
<%= link_to 'Back', configuraciones_path %>
