

<section class="content">
  <div class="box-body">


      <%= form_for(empresa, :validate => true, html: {class: 'form-horizontal'}) do |f| %>
  <% if empresa.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(empresa.errors.count, "error") %> prohibited this empresas from being saved:</h2>

      <ul>
      <% empresa.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

 <div class="row">
            <div class="col-md-12" style="text-align: right;">
               <%= f.submit :class=>"btn btn-md btn-primary", :value=>"Guardar" %>
              <%= link_to 'Cancelar', empresas_path, :class=>"btn btn-md btn-default cancelbtn" %>
            </div>
            
  </div>


        <div class="row">
        <div class="col-md-6">
          <div class="form-group">
             <label>NOMBRE COMERCIAL</label>
            <%= f.text_field :EMP_NOMBRE_COMERCIAL, :class=>"form-control" %>
          </div>
        </div>
         <div class="col-md-3">
          <div class="form-group">
             <label>TIPO DE EMPRESAS</label>
              <%= f.select :EMP_TIPO, options_for_select( [['Empresa del Grupo','1'],['Empresa de Terceros','2'],['Empresa con Subscripción','3']], @empresa.EMP_TIPO) %>
          </div>
        </div>
            <div class="col-md-6">
            &nbsp;
            </div>
          </div>
  
  
       
   <div class="row">
        <div class="col-md-6">
          <div class="form-group">
             <label>RAZON SOCIAL</label>
            <%= f.text_field :EMP_RAZON_SOCIAL, :class=>"form-control" %>
          </div>
        </div>
         <div class="col-md-2">
          <div class="form-group">
             <label>RFC</label>
            <%= f.text_field :EMP_RFC, :class=>"form-control", Maxlength:13 %>
          </div>
        </div>
         <div class="col-md-6">
            &nbsp;
            </div>
          
   </div>
   <div class="row">
        <div class="col-md-7">
          <div class="form-group">
             <label>DIRECCION</label>
            <%= f.text_field :EMP_DIRECCION, :class=>"form-control" %>
          </div>
        </div>
         
         <div class="col-md-5">
            &nbsp;
            </div>
          
   </div>

 <div class="row">
        <div class="col-md-3">
          <div class="form-group">
             <label>ESTADO</label>
           <%= f.collection_select :EMP_PKESTADO, Estado.order(:EDO_DESCRIPCION), :PKESTADO, :EDO_DESCRIPCION %>
          </div>
        </div>
         <div class="col-md-3">
          <div class="form-group">
             <label>CIUDAD</label>
           <%= f.select :EMP_PKCIUDAD, Ciudade.all.map {|c| [c.CD_NOMBRE, c.PKCIUDAD, {:'data-PKESTADO' => c.PKESTADO }]} %>
          </div>
        </div>
          <div class="col-md-2">
          <div class="form-group">
             <label>CP</label>
            <%= f.text_field :EMP_CP, onkeypress: "return isNumber(event)",  :class=>"form-control", Maxlength:5  %>
          </div>
        </div>
         <div class="col-md-4">
            &nbsp;
            </div>
          
   </div>


    <div class="row">

          <div class="col-md-4">
            <div class="form-group">
              <label>COLONIA</label>
            <%= f.text_field :EMP_COLONIA, :class=>"form-control" %>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label>EMAIL</label>
            <%= f.email_field :EMP_EMAIL, :class=>"form-control" %>
            </div>
          </div>
          <div class="col-md-6">
           &nbsp;
          </div>
          
    </div>
     <div class="row">

          <div class="col-md-3">
            <div class="form-group">
              <label>TELEFONO1</label>
            <%= f.text_field :EMP_TEL1, onkeypress: "return isNumber(event)",  :class=>"form-control numeric" %>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label>TELEFONO2</label>
           <%= f.text_field :EMP_TEL2, onkeypress: "return isNumber(event)",  :class=>"form-control numeric" %>
            </div>
          </div>
           <div class="col-md-3">
            <div class="form-group">
              <label>FAX</label>
           <%= f.text_field :EMP_FAX, onkeypress: "return isNumber(event)",  :class=>"form-control", Maxlength:16%>
            </div>
          </div>
          <div class="col-md-6">
           &nbsp;
          </div>
          
    </div>

       

      <% end %>
      
  </div>
</section>
<script type="text/javascript">
  $(document).ready(function () {
  $("#empresa_EMP_PKESTADO").addClass("form-control");
   $("#empresa_EMP_PKCIUDAD").addClass("form-control");
     $("#empresa_EMP_TIPO").addClass("form-control");
  });

      var cities;
      cities = $('#empresa_EMP_PKCIUDAD').find('option').clone();
     
       CitySelect();


       $('#empresa_EMP_PKESTADO').change(function() {

        CitySelect();
 
     });
function CitySelect(){


var state,escaped_state, options;

        state = $('#empresa_EMP_PKESTADO :selected').val();

        escaped_state = state.replace(/([ #;&,.+*~\':"!^$[\]()=>|\/@])/g, '\\$1');
        if (!escaped_state) {

            escaped_state="0";
        }


        options = $(cities).filter("option[data-pkestado=" + escaped_state + "]");

     
        if (options) {
          return $('#empresa_EMP_PKCIUDAD').html(options);
        } else {
          return $('#empresa_EMP_PKCIUDAD').empty();
        }
}

 
</script>
