 

<p>
  <strong>Pkempresa:</strong>
  <%= @empresa.PKEMPRESA %>
</p>

<p>
  <strong>Emp nombre comercial:</strong>
  <%= @empresa.EMP_NOMBRE_COMERCIAL %>
</p>

<p>
  <strong>Emp razon social:</strong>
  <%= @empresa.EMP_RAZON_SOCIAL %>
</p>

<p>
  <strong>Emp direccion:</strong>
  <%= @empresa.EMP_DIRECCION %>
</p>

<p>
  <strong>Emp colonia:</strong>
  <%= @empresa.EMP_COLONIA %>
</p>

<p>
  <strong>Emp cp:</strong>
  <%= @empresa.EMP_CP %>
</p>

<p>
  <strong>Emp rfc:</strong>
  <%= @empresa.EMP_RFC %>
</p>

<p>
  <strong>Emp pkciudad:</strong>
  <%= @empresa.EMP_PKCIUDAD %>
</p>

<p>
  <strong>Emp pkestado:</strong>
  <%= @empresa.EMP_PKESTADO %>
</p>

<p>
  <strong>Emp tel1:</strong>
  <%= @empresa.EMP_TEL1 %>
</p>

<p>
  <strong>Emp tel2:</strong>
  <%= @empresa.EMP_TEL2 %>
</p>

<p>
  <strong>Emp fax:</strong>
  <%= @empresa.EMP_FAX %>
</p>

<p>
  <strong>Emp email:</strong>
  <%= @empresa.EMP_EMAIL %>
</p>

<p>
  <strong>Emp tipo:</strong>
  <%= @empresa.EMP_TIPO %>
</p>

<%= link_to 'Edit', edit_empresa_path(@empresa) %> |
<%= link_to 'Back', empresas_path %>
